.login-text {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 32px;
  gap: 5px;
}
.login-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 672px;
  height: 602px;
  background: #fff;
  border: 2px solid #fafafa;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.login-with :hover {
  transform: scale(1.01);
}
.login-with-type {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 446px;
  height: 58px;
  margin: 20px;
  border-radius: 10px;
  border: 1px solid #a6a3a3;
  gap: 20px;
  padding: 10px;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
}
hr {
  border: 0;
  height: 1px;
  background: #ddd;
  margin: 0px 0;
}
.btn {
  width: 311px;
  height: 60px;
  border-radius: 5px;
  border: none;
  background: #1570ef;
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
  margin-bottom: 20px;
}
.box-heading {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.box-heading > span {
  font-weight: 600;
  font-size: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.company {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.company > span {
  font-weight: 400;
  font-size: 30px;
}
.company > img {
  width: 36px;
  height: 40px;
}

@media screen and (max-width: 1024px) {
  .login-box {
    width: 408px;
    height: 582px;
  }
  .btn {
    width: 187px;
    height: 52px;
  }
  .login-text {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .login-with-type {
    width: 376px;
    height: 58px;
  }
  .box-heading > span {
    font-weight: 600;
    font-size: 24px;
  }
  .company > img {
    width: 36px;
    height: 40px;
  }
}
