.Repo-Container {
  display: flex;
  width: 100%;
  height: 960px;
}
/*left side css*/
.repo-left {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 15px;
  padding: 15px;
  background-color: #fff;
  border: 2px solid #e9eaeb;
  position: relative;
  color: #414651;
}
.repo-company-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-left: 10px;
}
.repo-company-container > img {
  width: 28px;
  height: 32px;
}
.repo-company-container > span {
  font-weight: 400;
  font-size: 24px;
}
.repo-menu-dropdown {
  border: 1px solid grey;
  border-radius: 5px;
  width: 200px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
  gap: 10px;
}
.repo-menu-dropdown > span {
  font-weight: 400;
  font-size: 16px;
}
.repo-menu {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: 0px 10px;
}
.repo-left-button {
  width: 210px;
  height: 44px;
  border-radius: 5px;
  border: none;
  margin-bottom: 10px;
  background: #1570ef;
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
}
.repo-left-button > img {
  padding-right: 10px;
}
.repo-menu-items {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  gap: 10px;
  font-weight: 500;
  font-size: 16px;
}
.repo-menu-items:nth-last-child(2) {
  position: absolute;
  top: 88%;
}
.repo-menu-items:nth-last-child(1) {
  position: absolute;
  top: 93%;
}
/*right side css*/
.repo-right {
  width: 80%;
  background-color: #fafafa;
  display: flex;
  align-items: center;
  justify-content: center;
}
.repo-right-container {
  width: 90%;
  height: 912px;
  background: #ffffff;
  border: 1px solid #e9eaeb;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  border-radius: 10px;
  flex-direction: column;
}
.repo-right-hero {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 30px 0px 0px;
  flex-wrap: wrap;
  margin: 20px 20px 0px 20px;
}
.repo-right-button {
  width: fit-content;
  height: 40px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid grey;
  align-items: center;
  justify-content: center;
  display: flex;
  background: #ffffff;
  font-weight: 400;
  font-size: 14px;
  color: black;
}
.repo-right-button > img {
  padding-right: 10px;
}
.repo-right-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.right-button-2 {
  background: #1570ef;
  color: #fff;
}
.repo-heading {
  display: flex;
  flex-direction: column;
}
.repo-heading :nth-child(1) {
  font-weight: 600;
  font-size: 24px;
}
.repo-heading :nth-child(2) {
  font-weight: 400;
  font-size: 14px;
}
.search-bar {
  border: 1px solid grey;
  border-radius: 5px;
  margin: 20px;
  padding: 10px;
  width: 366px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  font-weight: 400;
  font-size: 16px;
}
.repo-cards {
  width: 100%;
}

/*for mobile optimization*/
@media screen and (max-width: 1024px) {
  .repo-right-container {
    /*width: 100%;*/
    height: 100%;
  }
  .repo-left {
    width: 25%;
  }
}
@media screen and (max-width: 768px) {
  .Repo-Container {
    display: flex;
    flex-direction: column;
  }
  .repo-left {
    width: 100%;
    display: flex;
  }
  .repo-left-header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 10px;
  }
  .repo-company-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .repo-menu {
    display: none;
  }
  .repo-right{
    width: 100%;
  }
  .repo-right-container{
    width: 100%;
  }
  .search-bar {
    width: 90%;
  }
  .repo-right-hero {
    gap: 10px;
  }
}
